<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
  </head>

  <body class="body">
    <div class="wrapper">
      <section class="menu">
        <ul class="menu__list">
          <li class="menu__item">tacos</li>
          <li class="menu__item">beers</li>
          <li class="menu__item">wines</li>
          <li class="menu__item">desserts</li>
          <li class="menu__item">reservation</li>
        </ul>
      </section>
      <main class="main">
        <div class="main__preview">
          <h3 class="main__title">Terry's Taco Joint</h3>
          <span class="main__highlightText">Pretty Good Tacos!</span>
        </div>
        <div class="main__price main__price1">
          <span class="main__cost">$1.99</span>
          Tacos
        </div>
        <div class="main__price main__price2">
          <span class="main__cost">$3.99</span>
          Kombucha
        </div>
        <ul class="assortment">
          <li class="assortment__item">
            <img src="https://cdn3.iconfinder.com/data/icons/food-drink/512/Meal-512.png" alt="#" class="assortment__picture">
            <h5 class="assortment__title">Tacos</h5>
            <p class="assortment__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, consequuntur.    
            </p>
          </li>
          <li class="assortment__item">
            <img src="https://cdn3.iconfinder.com/data/icons/food-drink/512/Meal-512.png" alt="#" class="assortment__picture">
            <h5 class="assortment__title">Tacos</h5>
            <p class="assortment__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, consequuntur.    
            </p>
          </li>
          <li class="assortment__item">
            <img src="https://cdn3.iconfinder.com/data/icons/food-drink/512/Meal-512.png" alt="#" class="assortment__picture">
            <h5 class="assortment__title">Tacos</h5>
            <p class="assortment__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, consequuntur.    
            </p>
          </li>
          <li class="assortment__item">
            <img src="https://cdn3.iconfinder.com/data/icons/food-drink/512/Meal-512.png" alt="#" class="assortment__picture">
            <h5 class="assortment__title">Tacos</h5>
            <p class="assortment__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, consequuntur.    
            </p>
          </li>
        </ul>
        <div class="main__recomendation recomendation">
          <div class="recomendation__picture"></div>
          <div class="recomendation__box">
            <h3 class="recomendation__title">Featured Taco</h3>
            <p class="recomendation__text">
              Slim Profile, easy to hold and loaded with cheese.
              This is the one you have been waiting for
            </p>
            <a href="#" class="recomendation__btn">
              Learn more
            </a>
          </div>
          <div class="recomendation__info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, distinctio beatae praesentium repudiandae ipsa, sapiente, ducimus delectus temporibus nobis alias tempora provident suscipit culpa debitis corporis porro labore ipsam corrupti magni eum reprehenderit quidem architecto libero assumenda! Minus, quis quos consectetur ipsa quia voluptate aliquam similique nostrum iure eaque ad!
          </div>
        </div>
      </main>
  
      <section class="instagram">
        <h2 class="instagram__title">Instagram</h2>
        <ul class="instagram__list">
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
          <li class="instagram__item"></li>
        </ul>
      </section>     
    </div>
    <script src="./JS/index.js"></script>
  </body>

</html>