<li class="slider__picture active" style="background-image: url('./img/pictureInfo-1.jpg')">
  <div class="slider__container">
    <div class="slider__preview">
      <h3 class="slider__title">Free courses</h3>
      <span class="slider__price">0 $</span>
    </div>
    <div class="slider__description">
      <p class="slider__text">

        These courses are for beginner crypto enthusiasts. Here they will tell you what it is, why
        cryptocurrency is so popular and what you can do with it.
        <br><br>
        P.S. Oh yes, and it’s absolutely free
      </p>
    </div>
  </div>
</li>

<li class="slider__picture" style="background-image: url('./img/pictureInfo-4.jpg')">
  <ul class="courses">
    <li class="courses__item">
      <div class="courses__preview courses__preview-first">
        <h3 class="courses__title">Cryptocurrency Fundamentals</h3>
        <span class="courses__price">50 $</span>
      </div>
      <div class="courses__description courses__description-first">
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Who this course is for</h6>
            <ul class="description__list">
              <li class="description__item">The ideal student for this course is someone who wants to quickly
                understand and expand their knowledge of what cryptocurrencies are and how they work, as well
                as how to trade cryptocurrencies in a safe and effective manner.</li>
            </ul>
          </div>
          <div class="description__box">
            <h6 class="description__title">What you will learn</h6>
            <ul class="description__list">
              <li class="description__item">The Crypto trading principals</li>
              <li class="description__item">Practical trading training</li>
              <li class="description__item">Introduction with AI trading.</li>
            </ul>
          </div>
        </div>
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Description</h6>
            <p class="description__text">Don't be left behind and catch the Cryptocurrency wave - NOW!
              In just under two hours you will know everything you need to get started buying, selling and
              trading cryptocurrency. Includes essential topics such as how to read cryptocurrency candlestick
              price charts, and practical training.</p>
          </div>
          <div class="description__box">
            <h6 class="description__title">Else</h6>
            <p class="description__text">
              This exclusive session is personal and will be held 1 on 1 by sharing screens with one of
              Algowave’s expert traders.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="courses__item">
      <div class="courses__preview courses__preview-second">
        <h3 class="courses__title">Cryptocurrency Trading</h3>
        <span class="courses__price">250 $</span>
      </div>
      <div class="courses__description courses__description-second">
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Who this course is for</h6>
            <ul class="description__list">
              <li class="description__item">If you want to make Profits by Trading in the Cryptocurrency
                Market, this course is for you!</li>
              <li class="description__item">If you want to Create a New Source of Passive Income.</li>
              <li class="description__item">If you want to find a Professional Trading Strategy that Actually
                Works.</li>
              <li class="description__item">Anyone looking for an A to Z course on Cryptocurrency Trading.
              </li>
              <li class="description__item">Those looking for critical Cryptocurrency trading principles from
                a professional trader.</li>
              <li class="description__item">Those looking to improve upon and refine their knowledge of
                Cryptocurrency trading.</li>
            </ul>
          </div>
          <div class="description__box">
            <h6 class="description__title">What you will learn</h6>
            <ul class="description__list">
              <li class="description__item">The Crypto trading principals</li>
              <li class="description__item">Introduction with AI trading.</li>
              <li class="description__item">Trading practical training.</li>
              <li class="description__item">Professional market analyses.</li>
              <li class="description__item">Master How to Use Profitable Technical Indicators & Chart
                Patterns.</li>
              <li class="description__item">Reading charts.</li>
              <li class="description__item">Building a risk management plan.</li>
            </ul>
          </div>
        </div>
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Description</h6>
            <p class="description__text">The Masterclass is designed to provide you with everything you need
              to be a professional trader from scratch, including the best working trading techniques and
              strategies for predicting the next market directions so you can be a profitable trader from day
              one and become highly profitable in the end.
              This course is tailored specifically for you by Algowave’s best Instructors, to make sure you
              become a profitable crypto trader in 3 personal sessions.</p>
          </div>
          <div class="description__box">
            <h6 class="description__title">Else</h6>
            <p class="description__text">
              FREE Bonus: <br>

              Full Support from the Course experts for 6 months!
              Including a Certificate of Completion.
            </p>
            <p class="description__text">
              The Masterclass exclusive sessions are personal and will be held 1 on 1 by sharing screens with
              one of Algowave’s Senior traders.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="courses__item">
      <div class="courses__preview courses__preview-third">
        <h3 class="courses__title">Cryptocurrency Trading and Large funds Management </h3>
        <span class="courses__price">420 $</span>
      </div>
      <div class="courses__description courses__description-third">
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Who this course is for</h6>
            <ul class="description__list">
              <li class="description__item">If you want to Create a New Source of Passive Income with more
                profit opportunities than Stocks, Rea-estate etc.</li>
              <li class="description__item">If you want to find a Professional Trading Strategy that Actually
                Works and you can rely on.</li>
              <li class="description__item">Anyone looking for an exclusive and personal A to Z course on
                Cryptocurrency Trading.</li>
              <li class="description__item">If you want to go for the next level in Crypto Trading and make a
                living out of it.</li>
              <li class="description__item">This course is for EVERYONE, who wants to change their lives by
                trading in the Cryptocurrency Market.</li>
            </ul>
          </div>
          <div class="description__box">
            <h6 class="description__title">What you will learn</h6>
            <ul class="description__list">
              <li class="description__item">AI 24/7 trading principles.</li>
              <li class="description__item">Trading practical training.</li>
              <li class="description__item">Professional market analyses.</li>
              <li class="description__item">How to build a Trading Business Plan.</li>
              <li class="description__item">Reading charts.</li>
              <li class="description__item">Master How to Use Profitable Technical Indicators & Chart
                Patterns.</li>
              <li class="description__item">Building wide trading portfolios.</li>
              <li class="description__item">Business plan and risk management for large capital.</li>
            </ul>
          </div>
        </div>
        <div class="description__container">
          <div class="description__box">
            <h6 class="description__title">Description</h6>
            <p class="description__text">The VIP Elite course is designed to provide you from scratch with
              everything you need to Trade & Manage large funds in the Crypto market, including the best
              working trading strategies and business plan for large portfolios. You will learn how to
              maximize your profits and to manage your risks while using advanced technology and business
              plan.
              This course is tailored specifically for you by Algowave’s best Instructors, to make sure you
              become a professional crypto trader and able to successfully manage multiple assets in 5
              personal sessions.</p>
          </div>
          <div class="description__box">
            <h6 class="description__title">Else</h6>
            <p class="description__text">
              FREE Bonus: <br>

              Full Support from the Course experts for 12 months!
              Including a Certificate of Completion.
            </p>
            <p class="description__text">
              The VIP exclusive sessions are personal and will be held 1 on 1 by sharing screens with one of
              Algowave’s Senior traders.
            </p>
          </div>
        </div>
    </li>
    </ulde>
</li>